# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Build / Distribution
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Hugging Face Cache
# ==========================
.cache/
huggingface/

# ==========================
# Generated Models
# ==========================
models/

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# Mypy
# ==========================
.mypy_cache/